
bubble { 
  display: block;
  position: absolute;
  width: 50px; 
  height: 50px; 
  background-color: white;
  left:50vw;
  animation: bubbleup 4s ease-in-out infinite alternate;
  
  
}

@keyframes bubbleup
{
  0% {  
    transform: translateY(20px);
  }
  
  100% {
    transform: translateY(80px);
  }
}

deadball { 
  display: block;
  position: absolute;
  width: 50px; 
  height: 50px; 
  background-color: black;
  animation: deadup 4s ease-in-out infinite alternate;
  
  
  
}


@keyframes deadup
{
  0% {  
    transform: translateY(20px);
  }
  
  100% {
    transform: translateY(80px);
  }
}




body { 
    background-image: url(../img/water.png); 
    background-repeat: no-repeat;
    width: 100%; height: 100%; 
    background-size: cover; 
}



  paddle {
    background-color:black;
    width:25px; height:100px;
    display: block;
    position: absolute;
    

}

.dead { 
  display: none;

   
   


}

