protero { 
    background-image: url(../img/protero.png); 
    width:130px; height: 110px;
    
    /* kleur variatie met css */
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    
    /* animatie met css */
    animation: fishanimation 4s ease-in-out infinite alternate;

}